ion-item ion-button.ion-color-danger{
    margin: 4px 5px 4px 4px;
}
ion-item ion-button.ion-color-success{
    margin: 4px 2px 4px 4px;
}
ion-thumbnail {
    width: 100%;
    height: auto;
    margin: 0;
}

ion-toolbar ion-buttons.buttons-last-slot {
    width: 30px;
    font-size: 24px;
}